@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
}

/*============================*/
/*========== HEADER ==========*/
/*============================*/

header{
    position: relative;
}



.sms-logo{
    width: 300px;
    height: 100%;
    margin: 20px;
}

.icons-contianer{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    top: 15px;
    gap: 10px;
    padding: 5px;
}

.icons-contianer a {
    color: black;
    display: inherit;
    font-size: 25px;
    align-items: center;
}

.my-site-btn{ 
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.my-site-btn:hover{ 
    display: flex;
    flex-direction: row;
    background: lightgray;
}

.my-site-btn p{ 
  margin: 3px;
  font-size: 14px;
}

.icons-contianer a:link {
    text-decoration: none;
}

.login-page-main {
    display: flex;
    justify-content: space-between;
    padding: 30px 5px;
}

.login-section,
.register-section {
    margin: 2%;

}

.login-hr {
    border: 3px dashed dimgrey;
    box-shadow: -4px 4px 12px 4px grey;

}

.error-msg {
    color: red;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

.nav-link,
.header-text {
    margin: 1%;
}

.admin-nav-link {
    float: right;
}

.google-btn {
    background-image: url("./btn_google_signin.jpg");
    width: 270px;
    height: 65px;
    border: none;
    margin: 3% 1%;

}

.login-page-h2 {
    margin: 3% 0.5%;
}
.g-login-text {
    margin: 4% 1% 2%;
}

.user-info,
.login-field,
.registering-field {
    box-shadow: -10px 10px 10px grey, 10px 10px 10px grey;
    margin: 1%;
    padding: 1%;
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    font-size: 18px;

}

.btn-edit,
.btn-delete,
.btn-login,
.btn-register {
    box-shadow: -10px 10px 10px grey, 10px 10px 10px grey;
    margin: 1.8%;
   
    width: 125px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn-register,
.registering-field {
    margin: 4%;
}

#password,
#username {
    box-sizing: border-box;
    background-image: url("./person_black_24dp.svg");
    background-position: 1px 6px; 
    background-repeat: no-repeat;
    padding: 2px 2px 2px 30px;
}

#password {
    background-image: url("./lock_black_24dp.svg");
}

/*****************/
/* Contact Form */

.contact-container {
    border: 6px double lightgrey;
    background-color: lightskyblue;
    border-radius: 25px;
    padding: 12px;
}

.chat-container {
    border: 4px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    display: block;
    margin-left: 0px;
    margin-right: auto;
}
  
div.admin {
    border-color: #ccc;
    background-color: #ddd;
    display: block;
    margin-left: auto;
    margin-right: 0px;
}
  
.chat-container::after {
    content: "";
    clear: both;
    display: table;
}
  
.chat-msg {
    float: left;
}

h3.admin{
    float: right;
}

.contact-form {
    display: flex;
    align-items: center;
}

.contact-text {
    width: 84%;
}

.contact-btn {
    width: 14%;
    height: 50px;
    margin-left: 1.5%;
}





/*==============================*/
/*========== PRODUCT ==========*/
/*==============================*/

.product-site-container{
    font-size: 0.8725rem;
    max-width: 900px;
    margin: 30px auto;
}

.product-nav{
    padding: 0;
    margin: 0;
}

.product-nav-a, a:link {
    color: rgb(59, 59, 59);
    text-decoration: underline;
    text-transform: uppercase;
}

.product-nav-p{
    color: gray;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
}

.button-cart {
    width: 100px;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    color: white;
}

.product-wrapper{
    
    display: flex;
    margin: 30px auto;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
}   

.product-info-container{
    display: flex;
    flex-direction: column;
  
    background: #fff;
    max-width: 400px;
    width: 100%;
    gap: 30px;
    padding: 25px;
}

.img-container{
    padding: 25px;

    max-width: 400px;
    height: 500px;
    text-align: center;
}


/*==============================*/
/*========== PRODUCTS ==========*/
/*==============================*/

.products-main{
    border: 2px solid palegreen;
    width: 80%;
    margin: 1rem auto;
}

.prod-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

.prod-box-1{
    border: 2px solid black;
    margin: 0.5rem;
    padding: 1rem;
    width: 30%;
}

.prod-box-2{
    border: 2px solid brown;
    margin: 0.5rem;
    /* padding: 1rem; */
    width: 70%;
}

.product-card-container{
    border: 2px solid blue;
    width: 65%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.product-card{
    background-color: #f3f3f3;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    width: 200px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;
}

.card-img {
    background-color: #fff;
    border-radius: 5px;
    height: 150px;
    margin-bottom: 1.2rem;
}

.card-title{
    /* border: 2px solid orange; */
}

.card-desc{
    /* border: 2px solid orange; */
}

.card-price{
    /* border: 2px solid blue; */
}

.card-btn{
    /* border: 2px solid green; */
    margin: 1rem;
}

/*===========================*/
/*========== ADMIN ==========*/
/*===========================*/

#admin-user-container{
    border: 2px solid blue;
}

#admin-product-container{
    border: 2px solid orange;
}

#admin-order-container{
    border: 2px solid rebeccapurple;
}

.product-form-container form{
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.products-table{
    font-size: 0.75rem;
}

.product-form-container input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .product-form-container input[type=submit] {
    width: 100%;
    background-color:#6E6D70;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-form-container input[type=submit]:hover {
    background-color: #4e7050;
  }
  
  .product-form-container {
    max-width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


/*=============================*/
/*========== MY PAGE ==========*/
/*=============================*/

.mypage-orders-container table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.mypage-orders-container th {
    text-align: left;
}

.mypage-orders-container table{
    width: 100%;
}

/*========== ADMIN / ORDERS ==========*/

#admin-order-container{
    width: 100%;
    border: 2px solid orange;
}
.admin-order-wrapper {
    border: 2px solid yellowgreen;
    width: 70%;
    margin: 0.5rem;
    /* padding: 0.5rem; */
    text-align: center;
}

.order-table {
    width: 90%;
    margin: auto;
}

.order-fieldset {
    border-radius: 5px; 
}


.order-legend{
    text-align: left;
    margin: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 150%;
}

.order-table-head {
    font-weight: 900;
    border-bottom: 2px solid black;
}

.admin-order-edit{
    text-decoration: none;
    border: 2px solid #4f6b38;
    background-color: #b1de8c;
    color: black;
}

.order-btn {
    border: 2px solid red;
    background-color: pink;
    color: black;
    font-size: 1rem;
}

/* .create-task-edit-link, .create-btn {
    background-color: #cce5cc;
} */

/* .edit-task-container, .show-task-container {
    width: 70%;
    margin: auto;
    padding: 2rem;
    align-self: center;
    align-items: center;
}

.edit-task-box, .show-task-box{
    text-align: center;
}

.show-task-btns {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.task-btns-item {
    margin: 0 1rem 0 1rem;
} */

/*============================*/
/*========== FOOTER ==========*/
/*============================*/

.main-footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 1px solid #ffd700;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-box {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 0.5px solid #ffd700;
}

.footer-h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffd700;
}

.footer-p {
    padding: 2px;
    margin: 2px;
    font-size: 1rem;
}

.footer-row {
    width: 80%;
    margin: auto;
    padding: 0.5rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 0.7rem;
}

.footer-socials {
    font-size: 1rem;
}

/* a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #ffdf32;
    color: black;
    border-radius: 2px;
}  */