@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}

main, .header-bottom-section, footer{
    max-width: 1000px;
    margin: auto;
    color: rgb(74, 73, 73);
}

main{
    margin-top: 50px;
    margin-bottom: 100px;
}


/* hr {
    border-top: 3px dashed #008080;
    border-bottom: 3px dotted #66CDAA;
    margin: 5px;
} */


/*============================*/
/*========== HEADER ==========*/
/*============================*/

header{
    position: relative;
    border-bottom: 1px solid grey;
}

.header-top-section{
    position: relative;
    background-color: rgb(90, 89, 89);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 10px;
}

.left-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
    padding: 5px;
    align-items: center;
}

#admin-btn{
    background: #008080;
    color: grey;
    padding: 10px; 
}

#admin-btn:hover{
    text-decoration: none;
    opacity: 0.5;
}

.right-container{
    position: absolute;
    right: 20px;
    top: 5px;
}

.icons-contianer{
    display: flex;
    flex-direction: row;
    text-align: right;
    top: 15px;
    gap: 10px;
    padding: 5px;
    color: whitesmoke;
}

.top-header-link {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    background: none;
}

.top-header-link:link {
    text-decoration: none;
}

.top-header-link:hover {
    text-decoration: none;
    opacity: 0.5;
}

.icons-contianer span {
    color: whitesmoke;
    display: inherit;
    font-size: 25px;
    margin-left: 3px;
}

.count-cart{
    font-size: 1rem;
}

.header-nav-btn { 
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.header-nav-btn:hover{ 
    display: flex;
    flex-direction: row;
    background: lightgray;
}

.header-nav-btn p{ 
  margin: 3px;
  font-size: 14px;
}

.header-nav{
    margin: 0;
    text-align: center;
    padding: 30px;
}

.header-nav a{
    text-decoration: none;
    color: rgb(74, 73, 73);
    display: inline;
    margin: 10px;
}

.header-nav a:link {
    text-decoration: none;
}

.header-nav a:hover {
    opacity: 0.5;
}

.header-bottom-section{
    color: rgb(74, 73, 73);
}

.sms-logo {
    width: 300px;
    height: 100%;
    margin: 20px;
}

/*============================*/
/*========== HOME-PAGE ==========*/
/*============================*/


.first-page-top-img{
    min-height: 600px;
    background-image: url(./daniel-romero-q-RQba-XCgU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.first-page-flex-container{
    display: flex;
    justify-content: center; 
    gap: 10%;
    width: 100%;
}

.first-page-flex-container div {
    margin: 10px;
    text-align: center;
   
} 

.first-page-flex-container img {
    height: 200px;
    width: 250px;
    object-fit: cover;
} 


/*============================*/
/*========== LOGIN ==========*/
/*============================*/


.login-page-main {
    box-shadow: 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    justify-content: center;
}

.section-wrapper{
    /* border: 2px solid red; */
    border-right: 2px solid gray;
    align-items: center;
    text-align: center;
    width: 50%;  
}

.login-h2{
    text-transform: uppercase;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    margin: 1rem 1rem 0.2rem 1rem; 
}

.login-h3{
    text-align: center;
}

.login-wrapper{
    margin-top: 20px;
    align-self: center;
    align-items: center;
}

.login-error-msg{
    color: red;
    font-family: "Lato";
    font-size: 1.2rem;
    margin: 10px;
}

.login-input{
    /* box-shadow: 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    border: 1.5px solid #e5e3d4;
    border-radius: 5px;
    width: 50%;
    height: 3.5rem;
    margin: 0.5rem;
    font-size: 1rem;
}

.login-btn {
    border: none;
    border-radius: 5px;
    background-color: #ecebe0;
    width: 50%;
    height: 3.5rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.g-login-text {
    margin: 4% 1% 2%;
}

.login-btn:hover {
    background-color: #e5e3d4; 
}

.login-btn:active {
    background-color: #ecebe0;
}

.google-btn {
    background-image: url("./btn_google_signin.jpg");
    border-radius: 5px;
    width: 270px;
    height: 65px;
    border: none;
    margin: 3% 1%;
    cursor: pointer;
}

/*============================*/
/*======= NAV / HEADER? ======*/
/*============================*/

.nav-link,
.header-text {
    margin: 1%;
}

.admin-nav-link {
    float: right;
}

.login-page-h2 {
    margin: 3% 0.5%;
}

.user-info,
.login-field,
.registering-field {
    box-shadow: -8px 8px 12px 1px grey;
    margin: 2%;
    padding: 1%;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
} 

.btn-contact, .btn-all-contact, .btn-edit-me, .btn-delete-me, select[name^=user-id],
.btn-update-me, .btn-edit, .btn-delete, .btn-login,
.btn-register {
    box-shadow: -8px 8px 12px 1px grey; /* -12 10 10 1-- -10 10 12 2 , 2 2 10 1 */
    margin: 2%;
    width: 150px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn-empty-cart, .product-btn-delete, .product-btn-edit {
    box-shadow: -8px 8px 12px 1px grey;
    border: none;
    width: 90px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-empty-cart {
    width: 220px;
    height: 50px;
    padding: 10px;
    border: thick double #32a1ce;
}

.btn-contact, .btn-all-contact, .btn-edit-me, .btn-delete-me, select[name^=user-id] {
    width: 250px;
    height: 45px;
}

.btn-update-me {
    width: 200px;
}

.edit-account-main {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 2px 30px;
}

.edit-account {
    text-align: center;
}

.user-option {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn-register,
.registering-field {
    margin: 4%;
}

#password,
#username {
    box-sizing: border-box;
    background-image: url("./person_black_24dp.svg");
    background-position: 1px 12px; 
    background-repeat: no-repeat;
    padding: 2px 2px 2px 30px;
}

#password {
    background-image: url("./lock_black_24dp.svg");
}

/*****************/
/* Contact Form */

.contact-container {
    border: 6px double lightgrey;
    background-color: lightskyblue;
    border-radius: 40px;
    margin: 8px 1px 20px;
/*    margin-bottom: 20px;  */
    padding: 4px 12px;
}

.chat-container {
    border: 4px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    display: block;
    margin-left: 0px;
    margin-right: auto;
}
  
div.admin {
    border-color: #ccc;
    background-color: #ddd;
    display: block;
    margin-left: auto;
    margin-right: 0px;
}
  
.chat-container::after {
    content: "";
    clear: both;
    display: table;
}
  
.chat-msg {
    float: left;
}

.chat-msg.admin{
    float: right;
}

.contact-form {
    display: flex;
    align-items: center;
}

.contact-text {
    width: 84%;
}

.contact-btn {
    width: 14%;
    height: 50px;
    margin-left: 1.5%;
}

.contact-history {
   margin: 1px 1px 1px 25px;
}


/*=============================*/
/*========== PRODUCT ==========*/
/*=============================*/

.product-site-container{
    font-size: 0.8725rem;
   
}

.product-nav{
    padding: 0;
    margin: 0;
}

.product-nav-a, a:link {
    color: rgb(59, 59, 59);
    text-decoration: underline;
    text-transform: uppercase;
}

.product-nav-p{
    color: gray;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
}

.button-cart {
    width: 100px;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    color: white;
}

.product-wrapper{

    display: flex;
    margin: 30px auto;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

img {
    width: auto;
    height: 100%
}   

.product-info-container{
    display: flex;
    flex-direction: column;
  
    background: #fff;
    max-width: 400px;
    width: 100%;
    gap: 30px;
    padding: 25px;
}

.img-container{
    padding: 25px;
    max-width: 400px;
    height: 500px;
    text-align: center;
}

.img-container-tag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==============================*/
/*========== PRODUCTS ==========*/
/*==============================*/

.product-card-container{
    /* width: 80%; */
    /* margin: auto; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-card{
    background-color: #f7f7f7;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    width: 15rem;
    /* width: 200px; */
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-img {
    background-color: #fff;
    border-radius: 5px;
    height: 10rem;
    margin-bottom: 1.2rem;
}

.card-img-tag {
    width: 100%;
    height: 10rem;
    object-fit: contain;
}

.products-h2>a {
    font-family: "Raleway";
    text-decoration: none;
    color: black;
    text-transform: none;
}

.products-h4 {
    font-family: "Playfair Display";
    font-size: 1.1rem;
}

.card-title{
    border-bottom: 2px solid #e5e3d4;
    margin-bottom: 5px;
}

.products-btn {
    margin: 1rem;
}

.products-btn-add, .btn-add {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #ffff;
    box-shadow: 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer; 
}

.products-btn-add:hover, .btn-add {
    background-color: #191919;
    color: #ffff;
}

.products-btn-add:active, .btn-add {
    background-color: #ffff;
    color: #000000;
}

.products-btn-add, .btn-add {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #ffff;
    box-shadow: 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer; 
}

.products-btn-add:hover, .btn-add {
    background-color: #191919;
    color: #ffff;
}

.products-btn-add:active, .btn-add {
    background-color: #ffff;
    color: #000000;
}

/*===========================*/
/*========== ADMIN ==========*/
/*===========================*/

/*
#admin-user-container{
    border: 2px solid blue;
}

#admin-product-container{
    border: 2px solid orange;
}

#admin-order-container{
    border: 2px solid rebeccapurple;
}
*/

.product-form-container form{
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.products-table{
    font-size: 0.75rem;
}

.product-form-container input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .product-form-container input[type=submit] {
    width: 100%;
    background-color:#6E6D70;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-form-container input[type=submit]:hover {
    background-color: #4e7050;
  }
  
  .product-form-container {
    /* max-width: 500px; */
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


/*=============================*/
/*========== MY PAGE ==========*/
/*=============================*/

.mypage-orders-container table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.mypage-orders-container th {
    text-align: left;
}

.mypage-orders-container table{
    width: 100%;
}

/*========== ADMIN / ORDERS ==========*/

#admin-order-container{
    width: 100%;
    border: 2px solid orange;
}
.admin-order-wrapper {
    border: 2px solid yellowgreen;
    width: 100%;
    margin: 0.5rem;
    /* padding: 0.5rem; */
    text-align: center;
}

.order-table {
    width: 90%;
    margin: auto;
}

.order-fieldset {
    border-radius: 5px; 
}


.order-legend{
    text-align: left;
    margin: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 150%;
}

.order-table-head {
    font-weight: 900;
    border-bottom: 2px solid black;
}

.products-table-head {
    font-size: 16px;
    font-weight: 900;
    border-bottom: 2px solid black;
}

.product-desc {
    width: 300px;
}

.product-price {
    width: 60px;
}

.product-img {
    width: 150px;
    margin: 10px;
}

.admin-order-edit{
    text-decoration: none;
    border: 2px solid #4f6b38;
    background-color: #b1de8c;
    color: black;
}

.order-btn {
/*    border: 2px solid red;
    background-color: pink;
*/    color: black;
    font-size: 1rem;
    width: 100px;
    height: 30px;
}

/* .create-task-edit-link, .create-btn {
    background-color: #cce5cc;
} */

/* .edit-task-container, .show-task-container {
    width: 70%;
    margin: auto;
    padding: 2rem;
    align-self: center;
    align-items: center;
}

.edit-task-box, .show-task-box{
    text-align: center;
}

.show-task-btns {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.task-btns-item {
    margin: 0 1rem 0 1rem;
} */

/*==========================*/
/*========== CART ==========*/
/*==========================*/

.cart-wrapper{
    max-width: 800px;
    padding: 20px;
    margin-bottom: 30px;
    margin: auto;
}

.cart-wrapper h1{
    text-align: center;
    padding: 30px;
}

.cart-list{
    list-style-type: none;
    margin-top: 1px;
    border-bottom: 1px solid lightgray;
}

.cart-list-item{
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
}

.cart-list-item img{
    margin-right: 25px;
    width: 112px;
}

.cart-item-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin-right: 25px;
}

.cart-item-price{
    width: 30%;
    text-align: right;
}

.cart-total{
    text-align: right;
}

.empty-cart {
    text-align: center;
}

.empty-cart h3 {
    margin-bottom: 10px;
}

/*============================*/
/*========== FOOTER ==========*/
/*============================*/

.main-footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid grey;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-box {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 0.5px solid grey;
}

.footer-h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 10px;
    border-bottom: 0.5px solid grey;
}

.footer-p {
    padding: 2px;
    margin: 2px;
    font-size: 1rem;
}

.footer-row {
    width: 80%;
    margin: auto;
    padding: 0.5rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 0.7rem;
}

.footer-socials {
    font-size: 1rem;
}

/* a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #ffdf32;
    color: black;
    border-radius: 2px;
}  */

#accordion {
    width: 900px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 28px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    /* 
    padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
 */
    padding: 10px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

.underrubrik {
    font-size: 14px;
}